*{
    margin: 0;
    padding: 0;
    
}
.hero-section {
    min-height: 100vh;
    width: 100%;
    background-image: url("/images/bkg_1.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    position: absolute;
    width: -webkit-fill-available;
    z-index: 1;
    top: 20px;
    background: rgba(0, 0, 0, 0.69);
    height: 20px;
}
nav img {
    width: 450px;
}
nav ul {
    flex: 1;
    text-align: right;
    /* z-index: 1; */
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.hero-text {
    width: 90%;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-text h2 {
    font-size: 51px;
}
.hero-text h1 {
    font-size: 79px;
}
.offers {
    /* display: flex; */
    width: 100%;
    margin: auto;
    background-color: #383838;
    padding-top: 100px;
    text-align: center;
}
.offers-text {
    width: 100%;
    color: white;
    
    /* position: absolute;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.offers-text img {
    margin-top: 35px;
}
.offers h2 {
    font-size: 25px;
    color: white;
}
.offers h1 {
    font-size: 45px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.offers-col {
    flex-basis: 35%;
    margin-bottom: 5%;
}
.offers-col img {
    margin-bottom: 35px;
}

.news {
    min-height: 100vh;
}
.products {
    /* height: 853px; */
    min-height: 100vh;
    background-color: #FF7630;
}
.contactus {
    min-height: 100vh;
}
.since-container {
    background-color: #c7c2c2;
}